%% -*- mode: erlang -*-
%% ex: ft=erlang
{sys, [
       {lib_dirs, ["../deps", "../apps"]},
       {erts, [{mod_cond, derived}, {app_file, strip}]},
       {app_file, strip},
       {rel, "APPID", "0.1.0",
        [
         kernel,
         stdlib,
         sasl,
         APPID
        ]},
       {rel, "start_clean", "",
        [
         kernel,
         stdlib
        ]},
       {boot_rel, "APPID"},
       {profile, embedded},
       {incl_cond, derived},
       {excl_archive_filters, [".*"]}, %% Do not archive built libs
       {excl_sys_filters, ["^bin/(?!start_clean.boot)",
                           "^erts.*/bin/(dialyzer|typer)",
                           "^erts.*/(doc|info|include|lib|man|src)"]},
       {excl_app_filters, ["\.gitignore"]},
       {app, APPID, [{mod_cond, app}, {incl_cond, include}]}
      ]}.

{target_dir, "APPID"}.
{overlay_vars, "vars.config"}.

{overlay, [
           {mkdir, "log/sasl"},
           {mkdir, "etc"},
           {mkdir, "share"},
           {mkdir, "share/schema"},
           {copy, "files/erl", "\{\{erts_vsn\}\}/bin/erl"},
           {copy, "files/nodetool", "\{\{erts_vsn\}\}/bin/nodetool"},
           {copy, "APPID/bin/start_clean.boot",
                  "\{\{erts_vsn\}\}/bin/start_clean.boot"},
           {template, "files/APPID", "bin/APPID"},
           {copy, "files/install_upgrade.escript", "bin/install_upgrade.escript"},
           {copy, "../deps/cuttlefish/cuttlefish", "bin/cuttlefish"},
           {template, "../share/APPID.xml", "share/APPID.xml"},
           {template, "../schema/APPID.schema", "share/schema/01-APPID.schema"},
           {template, "../schema/lager.schema", "share/schema/02-lager.schema"},
           {template, "../schema/erlang_vm.schema", "share/schema/03-vm.schema"}
          ]}.
