{log_path,        "/var/log/APPID"}.
{db_path,         "/var/db/APPID"}.
{run_user,        "APPID"}.

{node,                  "APPID@127.0.0.1"}.
{crash_dump,            "/var/log/APPID"}.
{cookie,                "APPID"}.
{run_user,              "APPID"}.

{cuttlefish,            "on"}.
{cuttlefish_conf,       "APPID.conf"}.
